<h4>Shopping Cart:</h4>
<ol>
    @for (item of carts(); track $index) {
    <li>{{ item }}</li>
    }
</ol>

<div class="product-showcase">
    <div class="product-grid">
        @for (product of products; track $index) {
        <div class="product-column">
            <app-product-card
                [imageUrl]="product.imageUrl"
                [name]="product.name"
                [price]="product.price"
                [currency]="product.currency"
                (addProduct)="onAddProduct($event)"
            >
            </app-product-card>
        </div>
        }
    </div>
</div>
